:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light);
}

div.app {
    position: absolute;
    width: 235px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 7px;
    border-radius: 10rem;
    background: var(--label);
}

div.ball {
    position: absolute;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: var(--light);
}

img {
    width: 94px;
    height: 94px;
}